<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

    <head>
        <meta http-equiv="refresh" content="30">
        <title>Bus Information</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <img src="https://www.servcorp.co.uk/media/16164/london_banner.jpg" alt="London Skyline">
            <br>
            <br>
            <h1 id="title">Bus Information</h1>
            <div>
                <h5 style="text-align: center">Showing the two closest bus stops to  <span th:text="${busInfo.postcode}"></span>:</h5>
                <br>
                <div th:each="stopAndArrivals : ${busInfo.stopsAndArrivals}">
                    <h3><b>Departure Board for
                        <span th:text="${stopAndArrivals.stop.commonName}"></span>
                    </b></h3>
                    <table>
                        <tr>
                            <th scope="col">Route Number</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Arriving in:</th>
                        </tr>
                        <tr th:each="arrival : ${stopAndArrivals.arrivals}">
                            <td><span th:text="${arrival.lineName}"></span></td>
                            <td><span th:text="${arrival.destinationName}"></span></td>
                            <td><b><span th:text="${arrival.nicelyFormattedTimeToStation}"></span></b></td>
                        </tr>
                    </table>
                    <br>
                </div>
            </div>

        </div>
    </body>
</html>